<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Guardias</display-name>
  <welcome-file-list>
  	<welcome-file>inicio.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>LoginFilter</filter-name> <!-- mandatory -->
    <filter-class>com.guardias.login.LoginFilter</filter-class> <!-- mandatory -->
    <init-param> <!-- optional -->
    <param-name>UrlLogin</param-name>
    <param-value>login.jsp</param-value>
    </init-param>
  </filter>
    <filter-mapping>
    <filter-name>LoginFilter</filter-name> <!-- mandatory -->
    <url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
    <servlet-name>LoginServlet</servlet-name>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
   <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>
  
</web-app>